if status is-interactive
  # Commands to run in interactive sessions can go here
  {{ if eq .chezmoi.os "linux" }}
  set -gx PATH $HOME/.local/bin $PATH
  {{ end }}

  {{ if eq .chezmoi.os "darwin" }}
  set -x SAM_CLI_TELEMETRY 0
  {{ end }}

  set -x EDITOR nvim
  set -x MANPAGER "bat -plman"

  # Git
  abbr -a g git
  abbr -a gs 'git switch'
  abbr -a gsc 'git switch -c'
  abbr -a gsd 'git switch -d'
  abbr -a gsom 'git switch -d origin/main'
  abbr -a glo 'git log --oneline --graph'
  abbr -a gri 'git rebase -i origin/main'
  abbr -a gris 'git rebase -i --autosquash origin/main'


  {{ if eq .client "personal" }}
  abbr -a rpi 'ssh dietpi@dietpi.local'
  {{ end }}

  {{ if eq .chezmoi.os "darwin" }}
  abbr -a buc 'brew update && brew upgrade && brew upgrade --cask'
  {{ end }}

  # Tools
  abbr -a n nvim
  abbr -a vimconf 'nvim ~/.config/nvim/init.lua'
  abbr -a fishconf 'nvim ~/.config/fish/config.fish'
  abbr -a cat bat
  abbr -a ls 'eza --icons auto'
  abbr -a --position anywhere -- --help '--help | bat -plhelp'
  abbr -a --position anywhere -- -h '-h | bat -plhelp'

  abbr -a dc 'docker compose'
  {{ if eq .chezmoi.os "linux" }}
  abbr -a swayconf 'nvim ~/.config/sway/config'
  abbr -a imgcat 'chafa'
  abbr -a yeet 'yay -Rcs'
  {{ end }}
  {{ if eq .client "ehm" }}
  abbr -a winclip 'nvim /mnt/utveckling/clipboard.txt'
  abbr -a towinclip 'wl-paste >> /mnt/utveckling/clipboard.txt'
  {{ end }}

  if type -q starship
    starship init fish | source
  end
  if type -q mise
    mise activate fish | source
  end
  {{ if eq .chezmoi.os "darwin" }}
  if type -q brew
    brew shellenv | source
  end
  {{ end }}
end

{{ if eq .client "ehm" }}
if not mountpoint -q /mnt/utveckling/
  vmhgfs-fuse .host:/utveckling /mnt/utveckling -o subtype=vmhgfs-fuse,allow_other
end
if not mountpoint -q /mnt/keepassxc/
  vmhgfs-fuse .host:/keepassxc /mnt/keepassxc -o subtype=vmhgfs-fuse,allow_other
end
{{ end }}


ulimit -n 10240

{{ if eq .chezmoi.os "darwin" }}
source ~/.orbstack/shell/init2.fish 2>/dev/null || :
{{ end }}
